@import "./vars.css";
@import "./text.css";
@import "./menu.css";

body {
  background-color: #1e1e1e;
  color: #d4d4d4;
  padding: 0;
  margin: 0;
}


.header {
  width: 100%;
  background-color: #252526;
  color: #cccccc;
}

.header a {
  color: #cccccc;
}

footer {
  padding-top: 100px;
}

.literal {
  color: #ce9178
}

.simple-icon {
  filter: invert(0.8);
  width: 32px;
  height: 32px;
}

.list--horizontal {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.list--horizontal > li {
  display: inline-block;
}

.site-wide {
  max-width: var(--site-width);
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
}
