@media screen and (max-width: 900px) {
  body {
    font-size: x-large;
  }
}

body {
  background-color: #1e1e1e;
  color: #d4d4d4;
  font-family: 'Courier New', Courier, monospace;
  margin: 2em;
}

main {
  max-width: 1080px;
  margin: auto;
}

footer {
  padding-top: 100px;
  max-width: 1080px;
  margin: auto;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

ul {
  list-style: none;
}

.literal {
  color: #ce9178
}

.simple-icon {
  filter: invert(0.8);
  width: 32px;
  height: 32px;
}

.list--horizontal {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.list--horizontal > li {
  display: inline-block;
}
